nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

/*Gradient*/
.navbar-right {
    border-radius: 13px 22px 13px 22px;
    background: linear-gradient(180deg, rgb(222, 229, 236) 0%, rgb(231, 236, 241) 15%, rgb(255, 255, 255) 49%, rgb(231, 234, 238) 85%, rgb(227, 234, 241) 100%);
}


nav li {
    float: right;
}

/*change nav li to class called .link-item*/
.link-item {
    display: block;
    color: #708090;
    font-weight: 100;
    text-align: center;
    text-decoration: none!important;
    padding: 22px;
    font-family: 'Source Sans Pro', sans-serif;
}

/*change color of .link-item:hover*/
.link-item:hover{
    opacity: 0.66;
    color:#708090;
}

nav .active{
    opacity: 0.5;
}

.navbar-logo {
    float: left;
    font-family:'Source Sans Pro', sans-serif;
    padding: 10px; 
    margin-left: 20px;
}

.logo {
     color:black;
     opacity: 0.95;
     font-size: 2.0em;
     text-decoration: none!important;
}

.logo:hover{
    opacity: 0.33;
    color: black;
}