nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*Gradient*/
.navbar-right {
    border-radius: 13px 22px 13px 22px;
    background: linear-gradient(180deg, rgba(211,222,233,1) 0%, rgba(213,225,237,1) 15%, rgba(238,243,249,1) 49%, rgba(213,225,237,1) 85%, rgba(211,222,233,1) 100%);
}
nav li {
    float: right;
}

/*change nav li to class called .link-item*/
.link-item {
    display: block;
    color: #708090;
    font-weight: 100;
    text-align: center;
    text-decoration: none!important;
    padding: 22px;
    font-family: 'Source Sans Pro', sans-serif;
}

/*change color of .link-item:hover*/
.link-item:hover{
    opacity: 0.66;
    color:#708090;
}

nav .active{
    opacity: 0.5;
}

.navbar-logo {
    float: left;
    font-family:'Source Sans Pro', sans-serif;
    padding: 10px; 
}

.logo {
     color:black;
     opacity: 0.66;
     font-size: 2.0em;
     text-decoration: none!important;
}

.logo:hover{
    opacity: 0.33;
    color: black;
}